.DS_Store
.Rproj.user
.Rproj
Lectures/2016/
Homework/template*
Homework/HW6/open_data_year_one
Lectures/Week10/tweetsUS.json
exercise_notes.docx
improvement_notes.docx
ignore*
Lectures/Week10/twitCred.Rdata
.Rhistory
.Rhistory
