---
---

@import "{{ site.theme }}";
@import url(https://fonts.googleapis.com/css?family=Fira+Mono);

body {
  font-family: 'Droid Serif', 'Palatino Linotype', 'Book Antiqua', Palatino, 'Microsoft YaHei', 'Songti SC', serif;
  font-weight: normal;
  color: #272822;
}
h1, h2, h3 {
  font-family: Quattrocento;
  font-weight: normal;
  color: #342c5c;
}
a:link {
  color: #342c5c;
  text-decoration: underline;
  letter-spacing: 0.05px;
}
a:hover, a:focus{
  color: #342c5c;
  text-decoration: underline;
  letter-spacing: 0;
  font-weight: bold;
}
a:active{
  color: #271872;
}
a:visited{
  color: #4e428a;
}
code {
  font-family: Fira Mono, 'Lucida Console', Monaco, monospace;
}